@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.Person{
    flex: 0 0 200px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 15px;
    padding: 15px;
    padding-top: 10px;
    border-radius: 15px;
}
.photo{
    width: 100px;
    height: 100px;
}
.text{
    margin-right: 10px;
    color: #8b6512;
    font-family: 'Akaya Telivigala', cursive;
}
.io{
    max-width: 20px;
}