.BorderButton{
    margin-left: 10px;
    width: 100px;
    height: 50px;
    background-color: white;
    border-top: 7px solid green;
    border-right: 7px solid black;
    border-left: 7px solid rgb(161, 230, 220);
    border-bottom: 7px solid rgb(226, 197, 115);
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}